[Unit]
Description=Smallpoint LDAP group management service
ConditionPathExists=/usr/sbin/smallpoint/smallpoint
After=network.target

[Service]
PermissionsStartOnly=true
WorkingDirectory=/usr/sbin/smallpoint
ExecStart=/usr/sbin/smallpoint/smallpoint
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
