[Unit]
Description=Smallpoint LDAP group management service
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/sbin/setcap cap_net_bind_service=+ep /usr/sbin/smallpoint
ExecStart=/usr/sbin/smallpoint -config /etc/smallpoint/config.yml 
Restart=always
RestartSec=20
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
