{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-group"></i>Ldap Groups</b></h5>
</header>

<div class="w3-panel">
    <table class="w3-table w3-striped w3-white" id="display">
        <script>
            var xhttp = new XMLHttpRequest();
            method="GET";
            url = "/allgroups";
            xhttp.open(method, url, false);
            xhttp.send(null);
            var response = JSON.parse(xhttp.responseText);
            var text;
            console.log(response.allgroups)
            text = "<tbody>";
            for (x in response.allgroups){
                var group_name=response.allgroups[x];
                text +="<tr><td><input type='checkbox' id='myCheck'></td><td><a href='/group/?groupname="+group_name+"'>"+ response.allgroups[x] + "</a></td></tr>";
            }
            text += "</tbody>";
            document.getElementById("display").innerHTML=text;
        </script>

    </table>
    <div class="w3-center">
        <div class="pagination w3-border w3-round">
            <a href="#" class="w3-text-black w3-bar-item w3-button">&laquo;</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button active">1</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button ">2</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button">3</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button">4</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button">5</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button">6</a>
            <a href="#" class="w3-text-black w3-bar-item w3-button">&raquo;</a>
        </div>
    </div>
</div>

{{ end }}