{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:12px">
    <h5><b><i class="fa fa-group"></i>Add members to Group</b></h5>
</header>

<div class="w3-panel">
    <form method="POST" action="/addmembers/?username={{.UserName}}">
        <table class="w3-table w3-striped w3-white">
            <tr>
                <td>Group Name</td>
                <td><input list="select_groups" required name="groupname" type="text">
                    <datalist id="select_groups">
                </datalist><br/></td>
            </tr>
            <tr>
                <td>Members</td>
                <td><textarea name="members" required="required" type="text" style="margin: 0px;height: 335px;width: 402px;"></textarea></td>
            </tr>
            <button class="w3-button w3-right w3-text-new-white w3-new-blue" type="submit">Add Members</button>
        </table>
    </form>
</div>

{{ end }}