{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:12px">
    <h5><b><i class="fa fa-group"></i>Create a Service Account</b></h5>
</header>

<div class="w3-panel">
    <form method="POST" action="/create_serviceaccount/?username={{.UserName}}">
        <table class="w3-table w3-striped w3-white" id="creategroup">
            <tr>
                <td>Select Service Account Type</td>
                <td><select required="required" name="Service Account Type" type="text">
                    <option value="User Service Account">User Service Account</option>
                    <option value="Group Service Account">Group Service Account</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>Service Account Name</td>
                <td><input name="AccountName" required="required" type="text"/><br/></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td><input name="Email Address" required="required" type="text"/><br/></td>
            </tr>
            <button class="w3-button w3-right w3-text-new-white w3-new-blue" type="submit" >Create Service Account</button>
        </table>
    </form>
</div>

{{ end }}