{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:12px">
    <h5><b><i class="fa fa-group"></i>Create a Service Account</b></h5>
</header>

<div class="w3-panel">
    <form method="POST" action="/create_serviceaccount/?username={{.UserName}}">
        <table class="w3-table w3-striped w3-white" id="creategroup">
            <tr>
                <td><label for="AccountName">Service Account Name</label></td>
                <td><input id="AccountName" name="AccountName" required type="text"/><br/></td>
            </tr>
            <tr>
                <td><label id="labelEmailAddress" for="EmailAddress">DL Email Address Only</label></td>
                <td><input id="EmailAddress" name="mail" required type="text"/><br/></td>
            </tr>
            <tr>
                <td><label id="labelloginShell" for="loginShell" >login Shell</label></td>
                <td><select id="loginShell" required name="loginShell" type="text">
                    <option value="/bin/false">/bin/false</option>
                    <option value="/bin/bash">/bin/bash</option>
                </select></td>
            </tr>
            <button class="w3-button w3-right w3-text-new-white w3-new-blue" type="submit" >Create Service Account</button>
        </table>
    </form>
</div>

{{ end }}