{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:12px">
    <h5><b><i class="fa fa-group"></i>Remove Members from a Group</b></h5>
</header>

<div class="w3-panel">
        <table class="w3-table w3-striped w3-white">
            <tr>
                <td>Group Name</td>
                <td>
		    <form id="group_name_delete_members" method="POST" action="/deletemembers/?listmembers">
                    	<input list="select_groups" id="dm_group_name" oninput="dm_groupname()" required name="groupname" type="text">
                    	<datalist id="select_groups">
                    	</datalist><br/>
		    </form>
		</td>
            </tr>
            <tr>
                <td>Members</td>
                <td>
                    <div class='suggestion'>
                    </div>
                    <input class="members" id='cg_members' oninput="dm_members()" list="select_dm_members" name="members" type="text"/>
                    <datalist class="select_memberslist" id="select_dm_members">
                    </datalist>
                </td>
            </tr>
            <button class="w3-button w3-right w3-text-new-white w3-new-blue" data-toggle="modal" data-target="#myModalDeletemembersfromGroup">Remove Members</button>
        </table>

    <div class="modal fade" id="myModalDeletemembersfromGroup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Action Required</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove members from the group?</p>
                    <form id="form_deletemembers_fromgroup" method="POST" action="/deletemembers/?username={{.UserName}}">
                        GroupName: <input id='group_groupname' name="groupname" required type="text" readonly/><br/>
                        Members  : <input class='group_members' id='group_members' name="members" required="required" type="text" readonly/><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="deletemembers_fromgroup_form_submit()" id="btn_deletemembersfromgroup" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
