{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:12px">
    <h5><b><i class="fa fa-group"></i>Delete Group</b></h5>
</header>

<div class="w3-panel">
    <form method="POST" action="/delete_group/?username={{.UserName}}">
        <table class="w3-table w3-striped w3-white" id="deletegroup">
            <tr>
                <td>Group Names</td>
                <td><textarea name="groupnames" required="required" type="text" style="margin: 0px;height: 89px;width: 513px;"></textarea></td>
            </tr>
            <button class="w3-button w3-right w3-text-new-white w3-new-blue">Delete Groups</button>
        </table>
    </form>
</div>

{{ end }}