{{ define "content"}}


<!-- Header -->
<header class="w3-container" style="padding-top:12px">
    <h4><b><i class="fa fa-group"></i>Group Name:<strong id="groupname_member">{{.GroupName}}</strong></b></h4>
    <br>
    <br>
    <h4><b>Group Managed Attribute:<strong id="group_managedby">{{.GroupManagedbyValue}}</strong></b></h4>
</header>

<div class="w3-panel">
    <button class="w3-button w3-right w3-text-new-white w3-new-blue" id="length_btn" data-toggle="modal" data-target="#myModalAddMember">Add Members</button>
    <button class="w3-button w3-right w3-text-new-white w3-new-blue" id="length_btn" data-toggle="modal" data-target="#myModalRemoveMembers">Remove Members</button>
    <button class="w3-button w3-right w3-text-new-white w3-new-blue" id="length_btn" data-toggle="modal" data-target="#myModalExitGroup">Exit group</button>

    <div class="modal fade" id="myModalAddMember" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title"><p>Please enter the names of those whom you want to add to this  group?</p></h4>
                </div>
                <div class="modal-body">
                    <form id="form_modal_addmember" action="/addmembers/?username={{.UserName}}" method="POST">
                        GroupName: <input name="groupname" required type="text" value="{{.GroupName}}" readonly><br/>
                        <input class='group_members' id='group_members' name="members" required="required" type="hidden" readonly/><br/>
                    </form>
                    <div class='suggestion'>
                    </div>
                    Members  : <input autocomplete="off" class="members" id='cg_members' oninput="groupadd_members()" list="select_members" name="members" type="text"/>
                    <datalist class="select_memberslist" id="select_members">
                    </datalist>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"  onclick="addmember_form_submit()" id="btn_form_modal_addmember" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalRemoveMembers" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title"><p>Please enter the names of those whom you want to remove from group?</p></h4>
                </div>
                <div class="modal-body">
                    <form id="form_modal_removemember" action="/deletemembers/?username={{.UserName}}" method="POST">
                        GroupName: <input autocomplete="off" name="groupname" required type="text" value="{{.GroupName}}" readonly><br/>
                        <input autocomplete="off" class="group_removemembers" id='group_removemembers' name="members" required="required" type="hidden" readonly/><br/>
                    </form>
                    <div class='suggestion_removemembers'>
                    </div>
                    Members  : <input autocomplete="off" class="remove_members" id='cg_members_remove' oninput="groupremove_members()" list="select_members_remove" name="members" type="text"/>
                    <datalist class="select_memberslist" id="select_members_remove">
                    </datalist>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="removemember_form_submit()" id="btn_form_modal_removemember" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalExitGroup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Action Required</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to exit this group?</p>
                    GroupName: <input autocomplete="off" name="groupname" id="groupinfo_exit" type="text" value="{{.GroupName}}" readonly><br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="groupinfo_btn_exitgroup" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <table class="w3-table w3-striped w3-white" id="table_groupinfo">

    </table>


</div>

{{ end }}
